.desktop {
  flex: 1;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 10px;
}

.desktop-icons {
  display: grid;
  grid-template-columns: repeat(auto-fill, 80px);
  grid-gap: 20px;
  padding: 20px;
}
